/* used for all pages*/

.codecats {
  background-color: mediumseagreen;

  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

h1 {
  font: small-caps bold 50px/1 sans-serif;
}
h4{
  color: white;
  font-style: italic;
}
##########################
/* used for home page only*/



/* Style the links inside the navigation bar */
.topnav {
    background-color: darkseagreen;

    font: small-caps bold 24px/1 sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: darkseagreen;

  font: small-caps bold 24px/1 sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 50%;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.main {
  background:url(

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALElEQVQoU2NkIBIwEqmOgTyFVUGWM2E2tK07no5sG4qJ1FeIz2PkeYYqJgIAjzcMC/Dq9WcAAAAASUVORK5CYII=
    ) repeat;
}

#website-title{

}

#home-photo{

}

#bio{
  background-color: #6495ED;
}

#bio ul li{
    color: orange;
}

div#myAnimation {
  animation: move 8s infinite;
}

@keyframes move {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 400px;
  }
  100% {
    margin-top: 0px;
  }
}


##########################
/* used for current affairs page only*/



##########################
/* used for why this matters only*/



##########################
/* used for what can we do only*/
